<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>校内订餐平台</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
    <link href="static/ass/images/favicon.ico" rel="shortcut icon">
    
    <!--styles-->
    <link href="static/ass/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/ass/css/owl.carousel.css" rel="stylesheet">
    <link href="static/ass/css/owl.theme.css" rel="stylesheet">
    <link href="static/ass/css/magnific-popup.css" rel="stylesheet">
    <link href="static/ass/css/style.css" rel="stylesheet">
    <link href="static/ass/css/responsive.css" rel="stylesheet">
    
    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    
    

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a href="front_index.html">
	<img alt="logo" class="logo-nav" src="static/ass/images/logo.png" height="50px"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      
      <button class="menu-button" id="open-button">
      </button>
     <!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->
    <style>
        .h1{
            position:relative;
            margin:auto;
            width:500px;
            height:50px;
            margin-top:100px;
            margin-left:650px;
        }
        .form {
            position:relative;
            width:350px;
            height:50px;
            margin:auto;
            margin-top:50px;
            color:#000000;
            font-size:20px;
            font-weight:400;

        }
        .form1{
            background-color: white;
            color: black;
            border: 2px solid #d5cbc1;
            position:absolute;
            margin-top:10px;
            margin-left:0px;
        }
        .form2{
            background-color: white;
            color: black;
            border: 2px solid #eddaca;
            position:absolute;
            margin-top:10px;
            margin-left:120px;
        }
        .form3{
            background-color: white;
            color: black;
            border: 2px solid #e9e1d9;
            position:absolute;
            margin-top:10px;
            margin-left:250px;
        }
        input{
        color: black;
        background:#f3d7b3;
        font-size: 25px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    </style>
  </head>

<body>
    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>请选择登录/注册身份</h1>

                    <div class="form">

        <form class="form1" action="http://127.0.0.1:5000/consumer_index" method="POST">
            <input type="submit" name="submit5" value="用户" >
        </form>
        <form class="form2" action="http://127.0.0.1:5000/business" method="POST">
            <input type="submit" name="submit6" value="商家">
        </form>
        <form class="form3" action="http://127.0.0.1:5000/deliver" method="POST">
            <input type="submit" name="submit7" value="外卖员">
        </form>
    </div>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--WORK-->
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>平台说明</span>
                </h3>
                <p class="content-detail">
                  此平台为校内订餐配送平台，致力于高效便捷的保障校内师生的饮食与健康，欢迎大家多多支持与使用。               </p>
              </div>
              <div class="col-md-9 content-right">
                <!--PORTFOLIO IMAGE-->
                <ul class="portfolio-image">
                  <li class="col-md-6">
                    <a href="static/ass/images/bw-1.png"><img alt="image" src="static/ass/images/bw-1.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                           <p class="desc">饺子</p>
                        </div>

                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/ass/images/bw-2.png"><img alt="image" src="static/ass/images/bw-2.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            麻薯
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/ass/images/bw-3.png"><img alt="image" src="static/ass/images/bw-3.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            汉堡
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/ass/images/bw-4.png"><img alt="image" src="static/ass/images/bw-4.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            宽面
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/ass/images/bw-5.png"><img alt="image" src="static/ass/images/bw-5.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            蛋糕
                          </p>  
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/ass/images/bw-6.png"><img alt="image" src="static/ass/images/bw-6.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            西瓜
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!--/.PORTFOLIO IMAGE END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->

        
        
        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="#" data-hover="Facebook">QQ</a>
              </li>
              <li class="twitter">
                <a href="#" data-hover="Twitter">微信</a>
              </li>
              <li class="gplus">
                <a href="#" data-hover="Google +">邮箱</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <img src="static/ass/images/logo-bottom.png" alt="logo bottom" class="center-block" />
              </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>
    

    <script src="static/ass/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="static/ass/js/jquery.appear.js" type="text/javascript"></script>
    <script src="static/ass/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="static/ass/js/classie.js" type="text/javascript"></script>
    <script src="static/ass/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="static/ass/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="static/ass/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="static/ass/js/masonry.js" type="text/javascript"></script>
    <script src="static/ass/js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="static/ass/js/typed.js" type="text/javascript"></script>
    <script src="static/ass/js/main.js" type="text/javascript"></script>
  </body>
</html>